.container {
    padding: 20px;
    background-color: #f3f4f6;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.error {
    color: #ff3860;
    font-weight: bold;
    margin-bottom: 15px;
}

.title {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 15px;
}

.testList {
    list-style: none;
    padding: 0;
}

.testItem {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: transform 0.3s, box-shadow 0.3s;
}

.testItem:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.testTitle {
    font-size: 20px;
    color: #2980b9;
    margin-bottom: 10px;
    font-weight: bold;
}

.details {
    font-size: 14px;
    color: #7f8c8d;
    margin-bottom: 10px;
}

.createButton {
    display: block;
    width: fit-content;
    margin: 20px 0;
    background-color: #27ae60;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
}

.createButton:hover {
    background-color: #1e8449;
}
